<p id="notice"><%= notice %></p>
<div class="blog-main">
  <div class="blog-post">
    <h2 class="blog-post-title"><%= link_to @blog.title, @blog %></h2>
    <p class="blog-post-meta">
      <%= @blog.created_at.strftime("%d %b. %Y") %>
    </p>
    <%= image_tag(@blog.picture_url, :class => "image media-object") if @blog.picture.present? %>
    <%= simple_format(@blog.content) %>
  </div>
</div>

<div class ="control-group pull-right">
  <%= link_to 'Edit', edit_blog_path(@blog), :class => "btn btn-default"%>
  <%= link_to 'Destroy', @blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"%>
  <%= link_to 'Back', blogs_path, :class => "btn btn-default" %>
</div>
